@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: hsl(215, 46%, 89%);
}

.container {
  width: 280px;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: hsl(0, 0%, 100%);
}

.container .img_container {
  width: 260px;
  height: 260px;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
}

.img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.desc {
  padding: 10px 19px 20px;
}

h3 {
  font-weight: 700;
}

.desc p {
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}

.attribution {
  font-size: 12px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
